.o-icon{
  cursor: pointer;
  display:inline-table;

  &::before, &::after {
    content:"";
    position: absolute;
    background-color: #000;
  }

  &--ok {
    -ms-transform: rotate(45deg) scale(1, -1); /* IE 9 */
    -webkit-transform: rotate(45deg) scale(1, -1); /* Chrome, Safari, Opera */
    transform: rotate(45deg) scale(1, -1);
    margin: 5px 25px 0 0;

    &::after{
      width:2px;
      height:15px;
      left:11px;
    }

    &::before{
      width:5px;
      height:2px;
      left:6px;
    }
  }

  &--close{
    position: relative;
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin-right:10px;

    &::before, &::after {
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      border-radius: 5px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &--caret {
    position:relative;
    margin-right: 10px;
    width: 9px;

    &::before, &::after {
      height: 2px;
      width: 10px;
    }

    &--left{

      &::before {
        transform: rotate(45deg);
        top: -2px;
      }
      &::after {
        transform: rotate(-45deg);
        top: -8px;
      }

    }

    &--right {

      &::before {
        transform: rotate(-45deg);
        top: -2px;
      }
      &::after {
        transform: rotate(45deg);
        top: -8px;
      }

    }

    &--down {

      &::before {
        transform: rotate(-45deg);
        left: 6px;
      }
      &::after {
        transform: rotate(45deg);
      }

    }
  }

}

