.o-logo {
  display: block;
  text-indent: -999px;
  overflow: hidden;

  width: 66px;
  height: 16px;

  //background-image: url('../../images/logo.svg');
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: contain;
}
