.o-pill-badge {
  display: inline-block;
  padding: 0.25rem 0.35rem;
  border-radius: 0.2rem;

  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;

  color: #fff;
  cursor: default;

  &--positive {
    background-color: $background-positive;
  }

  &--negative {
    background-color: $background-negative;
  }

  &--warning {
    background-color: $background-warning;
  }
}
